<div class="w-screen h-screen">
    <div class="bg-[url('/../assets/bg1.jpg')] bg-no-repeat bg-cover w-full h-full">
        <div class="w-full h-[60px] overflow-hidden">
            <div class="relative left-[250px] top-[10px]">
                <img src="../../assets/logo.svg" alt="logo" class="w-[40px] h-[40px]" />
            </div>
            <div class="italic text-[15px] text-white font-bold font-serif h-[60px] relative -top-[20px] left-[950px] cursor-pointer">
                <span><a href="#history">01.HISTORY</a></span>
                <span class="relative left-[40px]"><a href="#team">02.TEAM</a></span>
            </div>
        </div>
        <div class="font-mono font-bold relative left-[500px] top-[90px]">
            <p class="text-[#2f2f2f] text-[110px]">LOSANGELES</p>
            <p class="text-slate-700 text-[120px]">MOUNTAINS</p>
        </div>
    </div>
</div>